pkgbase = argmax
	pkgdesc = Terminal-resident command completion and prediction
	pkgver = @PKGVER@
	pkgrel = 1
	url = https://github.com/rselbach/argmax
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go>=1.26
	source = argmax-@PKGVER@.tar.gz::https://github.com/rselbach/argmax/releases/download/v@PKGVER@/argmax-@PKGVER@-source.tar.gz
	sha256sums = @SOURCE_SHA256@

pkgname = argmax
